region                 = "us-central1"
environment            = "development"
<<<<<<<< HEAD:examples/standalone/assets/service-catalog/modules/artifact_registry/terraform.tfvars.example
project_id             = "COMPOSER-PROJECT-ID"
========
project_id             = "prj-c-composer"
>>>>>>>> main:5-app-infra/source_repos/service-catalog/modules/artifact_registry/terraform.tfvars.example
cmek_project_id        = "CMEK-PROJECT-ID"
name                   = "test-repo"
description            = "Artifact Repository"
format                 = "DOCKER"
cleanup_policy_dry_run = false

cleanup_policies = [
  {
    id     = "delete-prerelease"
    action = "DELETE"
    condition = [
      {
        tag_state    = "TAGGED"
        tag_prefixes = ["alpha", "v0"]
        older_than   = "2592000s"
      }
    ]
  },
  {
    id     = "keep-tagged-release"
    action = "KEEP"
    condition = [
      {
        tag_state             = "TAGGED"
        tag_prefixes          = ["release"]
        package_name_prefixes = ["webapp", "mobile"]
      }
    ]
  },
  {
    id     = "keep-minimum-versions"
    action = "KEEP"
    most_recent_versions = [
      {
        package_name_prefixes = ["webapp", "mobile", "sandbox"]
        keep_count            = 5
      }
    ]
  }
]
